name: Publish

on:
  release:
    types: [published]

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    if: contains('["knightedcodemonkey"]', github.actor)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
      - name: Setup Node
        uses: actions/setup-node@v4.3.0
        with:
          node-version: '24.11.1'
      - name: Install Dependencies
        run: npm ci
      - name: Save error log
        uses: actions/upload-artifact@v4.6.2
        if: ${{ failure() }}
        with:
          name: npm-debug-log-${{ hashFiles('package-lock.json') }}
          path: npm-debug.log
      - name: Pack
        run: npm pack --pack-destination=packages/plugin --workspace=@knighted/jsx-ts-plugin
      - name: Lint
        run: npm run lint
      - name: Publish to npm
        uses: JS-DevTools/npm-publish@v4.1.1
        with:
          access: public
          package: packages/plugin
          tag: ${{ contains(github.ref, '-') && 'next' || 'latest' }}
